In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data=pd.read_excel("C:\\Users\\HP\\DS python\\data sets\\seoul_bike_count.xlsx")

In [3]:
data.head()

,Date,Rented Bike Count,Hour,Temperature(°C),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(°C),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm),Seasons,Holiday,Functioning Day
0,2017-12-01,254,0,-5.2,37.0,2.2,2000.0,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
1,2017-12-01,204,1,-5.5,38.0,0.8,2000.0,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
2,2017-12-01,173,2,-6.0,39.0,1.0,2000.0,-17.7,0.0,0.0,0.0,Winter,No Holiday,Yes
3,2017-12-01,107,3,-6.2,40.0,0.9,2000.0,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
4,2017-12-01,78,4,-6.0,36.0,2.3,2000.0,-18.6,0.0,0.0,0.0,Winter,No Holiday,Yes

In [4]:
data.isnull().sum()

Date                          0
Rented Bike Count             0
Hour                          0
Temperature(°C)               0
Humidity(%)                   5
Wind speed (m/s)             37
Visibility (10m)             51
Dew point temperature(°C)     0
Solar Radiation (MJ/m2)       0
Rainfall(mm)                  0
Snowfall (cm)                 0
Seasons                      28
Holiday                       0
Functioning Day               0
dtype: int64

In [5]:
def find_missing_seasons(x,y):
    lst=[]
    i=0
    while(i<len(x)):
        if(pd.isnull(x[i])):
            if((y[i]=="03") | (y[i]=="04") | (y[i]=="05")):
                lst.append("Spring")
            elif((y[i]=="06") | (y[i]=="07") | (y[i]=="08")):
                lst.append("Summer")
            elif((y[i]=="09") | (y[i]=="10") | (y[i]=="11")):
                lst.append("Autumn")
            else:
                lst.append("Winter")
        else:
            lst.append(x[i])
        i=i+1
    return lst

In [6]:
data["Seasons"] = find_missing_seasons(data["Seasons"],data["Date"].astype('str'))

In [7]:
data["Seasons"].value_counts()

Spring    2202
Summer    2199
Winter    2188
Autumn    2171
Name: Seasons, dtype: int64

In [8]:
data=data.drop("Date",axis=1)

In [9]:
data.head()

,Rented Bike Count,Hour,Temperature(°C),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(°C),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm),Seasons,Holiday,Functioning Day
0,254,0,-5.2,37.0,2.2,2000.0,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
1,204,1,-5.5,38.0,0.8,2000.0,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
2,173,2,-6.0,39.0,1.0,2000.0,-17.7,0.0,0.0,0.0,Winter,No Holiday,Yes
3,107,3,-6.2,40.0,0.9,2000.0,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
4,78,4,-6.0,36.0,2.3,2000.0,-18.6,0.0,0.0,0.0,Winter,No Holiday,Yes

In [10]:
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()
data.iloc[:, 11] = labelencoder.fit_transform(data.iloc[:, 11])
data.iloc[:, 12] = labelencoder.fit_transform(data.iloc[:, 12])

In [11]:
#data["Humidity(%)"] = data["Humidity(%)"].fillna(data["Humidity(%)"].mean())
#data["Wind speed (m/s)"] = data["Wind speed (m/s)"].fillna(data["Wind speed (m/s)"].mean())
#data["Visibility (10m)"] = data["Visibility (10m)"].fillna(data["Visibility (10m)"].mean())

In [12]:
data["Seasons"].value_counts()

Spring    2202
Summer    2199
Winter    2188
Autumn    2171
Name: Seasons, dtype: int64

In [13]:
d1=data[data["Seasons"]=="Spring"]
d2=data[data["Seasons"]=="Summer"]
d3=data[data["Seasons"]=="Winter"]
d4=data[data["Seasons"]=="Autumn"]

In [14]:
d1["Humidity(%)"] = d1["Humidity(%)"].fillna(d1["Humidity(%)"].mean())
d2["Humidity(%)"] = d2["Humidity(%)"].fillna(d2["Humidity(%)"].mean())
d3["Humidity(%)"] = d3["Humidity(%)"].fillna(d3["Humidity(%)"].mean())
d4["Humidity(%)"] = d4["Humidity(%)"].fillna(d4["Humidity(%)"].mean())

<ipython-input-14-379ef8d14464>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d1["Humidity(%)"] = d1["Humidity(%)"].fillna(d1["Humidity(%)"].mean())
<ipython-input-14-379ef8d14464>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d2["Humidity(%)"] = d2["Humidity(%)"].fillna(d2["Humidity(%)"].mean())
<ipython-input-14-379ef8d14464>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d3["Humidity(%)"] = d3["Humidity(%)"].fillna(d3["Humidity(%)"].mean())
<ipython-input-14-379ef8d14464>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d4["Humidity(%)"] = d4["Humidity(%)"].fillna(d4["Humidity(%)"].mean())

In [15]:
d1["Wind speed (m/s)"] = d1["Wind speed (m/s)"].fillna(d1["Wind speed (m/s)"].mean())
d2["Wind speed (m/s)"] = d2["Wind speed (m/s)"].fillna(d2["Wind speed (m/s)"].mean())
d3["Wind speed (m/s)"] = d3["Wind speed (m/s)"].fillna(d3["Wind speed (m/s)"].mean())
d4["Wind speed (m/s)"] = d4["Wind speed (m/s)"].fillna(d4["Wind speed (m/s)"].mean())

<ipython-input-15-1a898f27048c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d1["Wind speed (m/s)"] = d1["Wind speed (m/s)"].fillna(d1["Wind speed (m/s)"].mean())
<ipython-input-15-1a898f27048c>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d2["Wind speed (m/s)"] = d2["Wind speed (m/s)"].fillna(d2["Wind speed (m/s)"].mean())
<ipython-input-15-1a898f27048c>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d3["Wind speed (m/s)"] = d3["Wind speed (m/s)"].fillna(d3["Wind speed (m/s)"].mean())
<ipython-input-15-1a898f27048c>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d4["Wind speed (m/s)"] = d4["Wind speed (m/s)"].fillna(d4["Wind speed (m/s)"].mean())

In [16]:
d1["Visibility (10m)"] = d1["Visibility (10m)"].fillna(d1["Visibility (10m)"].mean())
d2["Visibility (10m)"] = d2["Visibility (10m)"].fillna(d2["Visibility (10m)"].mean())
d3["Visibility (10m)"] = d3["Visibility (10m)"].fillna(d3["Visibility (10m)"].mean())
d4["Visibility (10m)"] = d4["Visibility (10m)"].fillna(d4["Visibility (10m)"].mean())

<ipython-input-16-dcae197560f0>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d1["Visibility (10m)"] = d1["Visibility (10m)"].fillna(d1["Visibility (10m)"].mean())
<ipython-input-16-dcae197560f0>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d2["Visibility (10m)"] = d2["Visibility (10m)"].fillna(d2["Visibility (10m)"].mean())
<ipython-input-16-dcae197560f0>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d3["Visibility (10m)"] = d3["Visibility (10m)"].fillna(d3["Visibility (10m)"].mean())
<ipython-input-16-dcae197560f0>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d4["Visibility (10m)"] = d4["Visibility (10m)"].fillna(d4["Visibility (10m)"].mean())

In [17]:
data = pd.concat((d1,d2,d3,d4),axis=0,join='outer',ignore_index=False,
                  keys=None,levels=None,names=None,verify_integrity=False,copy=True)

In [18]:
data.isnull().sum()

Rented Bike Count            0
Hour                         0
Temperature(°C)              0
Humidity(%)                  0
Wind speed (m/s)             0
Visibility (10m)             0
Dew point temperature(°C)    0
Solar Radiation (MJ/m2)      0
Rainfall(mm)                 0
Snowfall (cm)                0
Seasons                      0
Holiday                      0
Functioning Day              0
dtype: int64

In [19]:
def find_missing_humidity(x,y):
    lst=[]
    i=0
    while(i<len(x)):
        if(pd.isnull(x[i])):
            if((y[i]=="03") | (y[i]=="04") | (y[i]=="05")):
                lst.append("Spring")
            elif((y[i]=="06") | (y[i]=="07") | (y[i]=="08")):
                lst.append("Summer")
            elif((y[i]=="09") | (y[i]=="10") | (y[i]=="11")):
                lst.append("Autumn")
            else:
                lst.append("Winter")
        else:
            lst.append(x[i])
        i=i+1
    return lst

In [20]:
x=data[(data["Humidity(%)"].isnull())].index
x

Int64Index([], dtype='int64')

In [21]:
data.iloc[x,:]

Empty DataFrame
Columns: [Rented Bike Count, Hour, Temperature(°C), Humidity(%), Wind speed (m/s), Visibility (10m), Dew point temperature(°C), Solar Radiation (MJ/m2), Rainfall(mm), Snowfall (cm), Seasons, Holiday, Functioning Day]
Index: []

In [22]:
y=data[(data["Wind speed (m/s)"].isnull())].index
y

Int64Index([], dtype='int64')

In [23]:
data.iloc[y,:]

Empty DataFrame
Columns: [Rented Bike Count, Hour, Temperature(°C), Humidity(%), Wind speed (m/s), Visibility (10m), Dew point temperature(°C), Solar Radiation (MJ/m2), Rainfall(mm), Snowfall (cm), Seasons, Holiday, Functioning Day]
Index: []

In [24]:
z=data[(data["Visibility (10m)"].isnull())].index
z

Int64Index([], dtype='int64')

In [25]:
data.iloc[z,:]

Empty DataFrame
Columns: [Rented Bike Count, Hour, Temperature(°C), Humidity(%), Wind speed (m/s), Visibility (10m), Dew point temperature(°C), Solar Radiation (MJ/m2), Rainfall(mm), Snowfall (cm), Seasons, Holiday, Functioning Day]
Index: []

In [26]:
p=data[(data["Seasons"].isnull())].index
p

Int64Index([], dtype='int64')

In [27]:
data.iloc[p,:]

Empty DataFrame
Columns: [Rented Bike Count, Hour, Temperature(°C), Humidity(%), Wind speed (m/s), Visibility (10m), Dew point temperature(°C), Solar Radiation (MJ/m2), Rainfall(mm), Snowfall (cm), Seasons, Holiday, Functioning Day]
Index: []

In [28]:
c=pd.get_dummies(data['Seasons'],drop_first=True)
d=pd.get_dummies(data['Hour'],drop_first=True)
data=data.drop("Seasons",axis=1)
data=data.drop("Hour",axis=1)
data = pd.concat((data,c,d),axis=1,join='outer',ignore_index=False,
                  keys=None,levels=None,names=None,verify_integrity=False,copy=True)

In [29]:
data.head()

,Rented Bike Count,Temperature(°C),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(°C),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm),Holiday,...,14,15,16,17,18,19,20,21,22,23
2160,71,2.0,96.0,1.3,1894.0,1.4,0.0,2.0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
2161,147,2.1,97.0,0.2,859.0,1.6,0.0,0.0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
2162,180,2.0,97.0,1.0,580.0,1.5,0.0,0.0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
2163,92,1.6,97.0,2.3,469.0,1.1,0.0,0.1,0.0,0,...,0,0,0,0,0,0,0,0,0,0
2164,28,1.6,97.0,1.1,636.0,1.1,0.0,0.0,0.0,0,...,0,0,0,0,0,0,0,0,0,0

In [30]:
# Finding outliers
def outliers(x):
    q1=x.quantile(0.25)
    print(q1)
    q3=x.quantile(0.75)
    print(q3)
    iqr=q3-q1
    print(iqr)
    lower=q1-1.5*iqr
    print(lower)
    upper= q3+1.5*iqr
    print(upper)
    print(min(x))
    print(max(x))
    out = x[(x < lower) | (x> upper)]
    return out

In [31]:
outliers(np.sqrt(data["Solar Radiation (MJ/m2)"])).count()

0.0
0.9643650760992956
0.9643650760992956
-1.4465476141489433
2.4109126902482387
0.0
1.876166303929372

0

In [32]:
data["Solar Radiation (MJ/m2)"] = np.sqrt(data["Solar Radiation (MJ/m2)"])

In [33]:
outliers(np.sqrt(data["Wind speed (m/s)"])).count()

0.9486832980505138
1.51657508881031
0.5678917907597962
0.09684561191081942
2.3684127749500044
0.0
2.7202941017470885

76

In [34]:
sum(data["Wind speed (m/s)"]==0)

63

In [35]:
data["Wind speed (m/s)"] = np.sqrt(data["Wind speed (m/s)"])

In [36]:
# Caping outliers
def cap(x):
    q1=x.quantile(0.25)
    q3=x.quantile(0.75)
    iqr=q3-q1
    low=q1-1.5*iqr
    high=q3+1.5*iqr
    a=[]
    for i in x:
        if(i<low):
            a.append(low)
        elif(i>high):
            a.append(high)
        else:
            a.append(i)
    return a

In [37]:
data["Wind speed (m/s)"] = cap(data["Wind speed (m/s)"])

In [38]:
def snowfall_intensity(x):
    lst=[]
    for i in x:
        if(i>=0.5):
            lst.append(2)
        elif(i>=0.25):
            lst.append(1)
        else:
            lst.append(0)
    return lst

In [39]:
data["descretezied_snowfall"] = snowfall_intensity(data["Snowfall (cm)"])

In [40]:
def rainfall_intensity(x):
    lst=[]
    for i in x:
        if(i>=4):
            lst.append(2)
        elif(i>=0.5):
            lst.append(1)
        else:
            lst.append(0)
    return lst

In [41]:
data["descretezied_rainfall"] = rainfall_intensity(data["Rainfall(mm)"])

In [42]:
def feature_engg(x,y):
    a=[]
    b=[]
    c=[]
    i=0
    while(i<len(x)):
        a.append(((not x[i]) and (not y[i])) or (x[i] and y[i]))
        b.append(x[i] or y[i])
        c.append(x[i] and y[i])
        i+=1
    return labelencoder.fit_transform(a),labelencoder.fit_transform(b),labelencoder.fit_transform(c)

In [43]:
data["feature_a"],data["feature_b"],data["feature_c"] = feature_engg(data["Holiday"].astype('bool'),
                                                                     data["Functioning Day"].astype('bool'))

In [44]:
data=data.drop("Snowfall (cm)",axis=1)
data=data.drop("Rainfall(mm)",axis=1)

In [45]:
independent= data.iloc[:,1:]
dependent= data.iloc[:,0]

In [46]:
independent = (independent-independent.min())/(independent.max()-independent.min())

In [47]:
independent.head()

,Temperature(°C),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(°C),Solar Radiation (MJ/m2),Holiday,Functioning Day,Spring,Summer,...,19,20,21,22,23,descretezied_snowfall,descretezied_rainfall,feature_a,feature_b,feature_c
2160,0.346154,0.979592,0.459300,0.946275,0.553633,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.5,1.0,1.0,1.0
2161,0.347902,0.989796,0.154241,0.421693,0.557093,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0
2162,0.346154,0.989796,0.397591,0.280284,0.555363,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0
2163,0.339161,0.989796,0.625000,0.224024,0.548443,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0
2164,0.339161,0.989796,0.419078,0.308667,0.548443,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0

In [48]:
dependent.head()

2160     71
2161    147
2162    180
2163     92
2164     28
Name: Rented Bike Count, dtype: int64

In [53]:
# import the method from libarary
from sklearn.decomposition import PCA

# using method create an alogrithm(same like as function)
pca = PCA(n_components=36)#n_components=4

In [54]:
pca_values = pca.fit_transform(independent)
pca_values

array([[ 0.03581979,  0.74357151, -0.21722491, ..., -0.24863439,
         0.01457124, -0.04133515],
       [ 0.03868778,  0.80680518, -0.53083561, ..., -0.27875078,
        -0.15209268, -0.03527367],
       [ 0.04447164,  0.83197049, -0.54002072, ..., -0.23039623,
        -0.12712894, -0.02998575],
       ...,
       [ 0.1897204 , -0.0314677 , -0.16595419, ..., -0.05746495,
        -0.06200558, -0.0145649 ],
       [ 0.19734081, -0.05038804, -0.07817068, ..., -0.04234128,
        -0.05317948, -0.01125608],
       [ 0.19490347, -0.05155658, -0.06963043, ..., -0.03466386,
        -0.04796195, -0.00981104]])

In [55]:
#PCA Scores
test = pd.DataFrame(pca_values)
test

,0,1,2,3,4,5,6,7,8,9,...,26,27,28,29,30,31,32,33,34,35
0,0.035820,0.743572,-0.217225,-0.155302,-0.282582,-0.181059,0.732776,0.613959,0.076309,0.011290,...,-0.010384,-0.016529,0.179231,-0.015689,0.530009,-0.081971,0.320933,-0.248634,0.014571,-0.041335
1,0.038688,0.806805,-0.530836,-0.229952,-0.018190,-0.097725,0.841588,0.543247,-0.143469,0.039832,...,-0.083282,0.588370,0.069867,0.004822,-0.064818,-0.119512,0.087457,-0.278751,-0.152093,-0.035274
2,0.044472,0.831970,-0.540021,-0.246835,0.109953,-0.113646,0.764849,0.621467,-0.190573,-0.072122,...,-0.073311,0.201633,0.093869,0.027985,-0.019344,0.096712,0.017296,-0.230396,-0.127129,-0.029986
3,0.055106,0.844261,-0.516349,-0.252339,0.168676,-0.143101,0.691992,0.680622,0.136296,-0.318792,...,-0.204202,0.020514,0.100911,0.049019,0.019177,0.287256,-0.058858,-0.205806,-0.108721,-0.025596
4,0.051313,0.828253,-0.528271,-0.247108,0.102179,-0.118937,0.757693,0.632059,-0.207877,0.063725,...,0.497448,-0.322962,0.098551,0.024155,-0.005799,0.110124,0.013518,-0.224378,-0.122341,-0.030159
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,0.201283,-0.051604,0.070881,0.000857,-0.519037,0.213154,-0.307884,0.194536,0.296240,0.222589,...,-0.139917,0.089446,-0.022166,-0.123869,-0.143045,0.234115,0.166853,-0.048121,0.033702,-0.009635
8756,0.201134,-0.058642,0.039137,0.001925,-0.574540,0.214120,-0.283936,0.181974,0.180100,0.225300,...,0.270289,-0.109603,-0.005921,-0.123720,-0.124660,0.199060,0.155422,-0.044851,-0.028387,-0.008840
8757,0.189720,-0.031468,-0.165954,-0.034075,-0.421356,0.322974,-0.155002,0.093306,0.171893,-0.154724,...,0.125282,-0.141594,-0.063615,-0.145495,-0.343386,-0.047197,0.274506,-0.057465,-0.062006,-0.014565
8758,0.197341,-0.050388,-0.078171,-0.013932,-0.513771,0.289533,-0.091753,0.027243,-0.196244,-0.057053,...,0.007662,0.095765,0.011418,-0.128854,-0.179153,0.111740,0.208185,-0.042341,-0.053179,-0.011256
8759,0.194903,-0.051557,-0.069630,-0.011849,-0.517119,0.292709,-0.065151,0.007104,-0.205710,-0.142794,...,0.137714,0.105374,0.034744,-0.118766,-0.130138,0.165798,0.168012,-0.034664,-0.047962,-0.009811

In [56]:

# The amount of variance that each PCA explains is 
var = pca.explained_variance_ratio_
var

array([0.15851345, 0.12174656, 0.07706241, 0.06975646, 0.04512256,
       0.02890442, 0.02136209, 0.02127845, 0.0196311 , 0.01959474,
       0.0195734 , 0.01956535, 0.0195638 , 0.01956327, 0.01956311,
       0.01956311, 0.01956311, 0.01956311, 0.01956311, 0.01956311,
       0.01956311, 0.01956311, 0.01956311, 0.01956301, 0.01956295,
       0.01956265, 0.01956226, 0.01954733, 0.01666317, 0.0127438 ,
       0.01027524, 0.0089661 , 0.00721552, 0.00398102, 0.00248042,
       0.00183549])

In [57]:
#from sklearn.model_selection import train_test_split
#x_train, x_test, y_train, y_test = train_test_split(independent,dependent, test_size=0.2, random_state=0)

In [58]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(test,dependent, test_size=0.2, random_state=0)

In [59]:
from sklearn.linear_model import LinearRegression # Step1
from sklearn import metrics

In [60]:
# Training the Algorithm
regressor = LinearRegression()  # step 2
regressor.fit(x_train, y_train) #training the algorithm

LinearRegression()

In [61]:
y_pred = regressor.predict(x_test)

In [62]:
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Root Mean Squared Error: 368.06001438511703